div#principal{
    position: relative;
    margin: auto;
    width: 1350px;
    height: 800px;
    background-color:rgb(255, 146, 70);
}
div#blockleft{
    position: absolute;
    float: left;
    width: 150px;
    height: 800px;
    background-color:rgb(0, 152, 158);
}
div#texto{
    margin: auto;
    width: 1050px;
    height: 800px;
    background-color: rgb(255, 255, 255);
}

div#InTexto{
    margin: auto;
    width: 1000px;
    height: 800px;
    background-color: rgb(255, 255, 255);
}

div#InTexto h1{
    text-align: center;
    color:rgb(0, 0, 0);
}

div#InTexto p{
    text-align: justify;
}

div#InTexto a{
    text-align: justify;
    text-decoration: underline;
    color: black;
}
