<div id="principal">
    <div id="blockleft">

    </div>
    <div id="texto">
        <div id="InTexto">
            <h1>Conócenos</h1>
            <h4>Nombre y descripción del servicio</h4>
            <p>
                Nuestro proyecto lleva por nombre Mikimexi Eki  (ME) que significa "De nosotros para ti" en lengua wixárika, 
                nuestro servicio consiste en proporcionarte un asistente virtual en la distribución múltiple 
                de productos locales. 
                Funcionamos a través de una aplicación que contendrá el registro del mayor número posible de MiPyMes 
                dentro del municipio, con la intención de apoyar a los negocios locales a continuar con su labor 
                de producción y venta mediante el e-commerce, así como también, darle la posibilidad a distintas 
                personas que necesiten de un empleo de poder tomar el papel como repartidores para generar un ingreso 
                extra y apoyar al funcionamiento de nuestro servicio. 
            </p>
            <h4>Misión, Visión, Valores</h4>
            <h6>Misión:</h6><p>Somos un proyecto que pretende ayudar a las MiPyMes a abarcar un mayor número de clientes abriéndoles 
                la puerta a los envíos a domicilio mediante la implementación del e-commerce y fomentando así el consumo local.</p>
            <h6>Visión:</h6><p>Seremos una empresa líder en la distribución múltiple de productos locales en diversos estados de México.</p> 
            <h6>Valores</h6>
            <li>Honestidad</li> 
            <li>Pasión</li>
            <li>Competitividad</li>
            <li>Trabajo en equipo</li>
            <li>Orientación al cliente</li>
            <li>Responsabilidad social</li>
            <li>Resolución de problemas</li>
            <li>Confianza</li>
            <li>Transparencia</li>
            <br>
            <h4><a href="#video">¿Cómo funciona Mikimexi Eki?</a></h4>
        </div>               
    </div>
</div>