<!-- As a link -->
<nav class="navbar">
  <img class="i" src="assets/Imagenes/Logo.png">
  <h1 class="navbar-brand" href="#">Mikimexi Eki</h1>
  <ul>
    <li *ngIf="!isLoggedIn"><a href="#Inicio">Inicio</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="acerca-de">Acerca de</a></li>

    <!-- Esto fue lo que agregué  -->
    <li *ngIf="!isLoggedIn"><a href="#tarjetas">Únete a Mikimexi Eki</a></li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a style="cursor: pointer" (click)="logout()" class="nav-link">
        <i class="fas fa-user-times"></i> Salir</a></li>
  </ul>
</nav>

