<!-- As a link -->
<nav class="navbar">
  <img class="i" src="assets/images/Logo.png">
  <h1 class="navbar-brand" href="#">Mikimexi Eki</h1>
  <ul>
    <li><a href="#Inicio">Inicio</a></li>
    <li><a href="#Acerca de">Acerca de</a></li>
    <li *ngIf="!isLoggedIn"><a href="inicio#unete">Únete a Mikimexi Eki</a></li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a style="cursor: pointer" (click)="logout()" class="nav-link">
        <i class="fas fa-user-times"></i> Salir</a></li>
  </ul>
</nav>

