<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-user"></i> Cliente
        </h1>
      </div>
    </div>
  </div>
</header>

<div class="container mt-3">
  <flash-messages></flash-messages>
  <div class class="row">
    <div class="col-md-6">
      <form (submit)="login()">
        <h3>Ingresar como cliente</h3>
        <section id="nuevoCliente">
          <div class="conteiner mt-3">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        <section id="actions" class="py-4 mb-4 bg-light">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Iniciar Sesión
          </button>
        </section>
      </form>
    </div>

    <div class="col-6">

      <form #clienteForm="ngForm" (ngSubmit)="guardar(clienteForm)">

        <h3>Registrese como nuevo cliente</h3>

        <section id="nuevoCliente">
          <div class="conteiner mt-3">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" #nombre="ngModel"
                          [(ngModel)]="cliente.nombre" [ngClass]="{'is-invalid' : nombre.errors && nombre.touched}"
                          required minlength="2">
                        <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                          Nombre Requerido
                        </div>
                        <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                          Debe de contener al menos 2 caracteres
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" class="form-control" #email="ngModel"
                          [(ngModel)]="cliente.email" [ngClass]="{'is-invalid' : email.errors && email.touched}"
                          required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <div [hidden]="!email.errors?.required" class="invalid-feedback">
                          Email Requerido
                        </div>
                        <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
                          Email no es valido
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" class="form-control" #password="ngModel"
                          [(ngModel)]="cliente.password"
                          [ngClass]="{'is-invalid' : password.errors && password.touched}" required minlength="2">
                        <div [hidden]="!password.errors?.required" class="invalid-feedback">
                          Apellido Requerido
                        </div>
                        <div [hidden]="!password.errors?.minlength" class="invalid-feedback">
                          Debe de contener al menos 2 caracteres
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" class="form-control" #direccion="ngModel"
                          [(ngModel)]="cliente.direccion"
                          [ngClass]="{'is-invalid' : direccion.errors && direccion.touched}" required minlength="2">
                        <div [hidden]="!direccion.errors?.required" class="invalid-feedback">
                          Direccion Requerida
                        </div>
                        <div [hidden]="!direccion.errors?.minlength" class="invalid-feedback">
                          Debe de contener al menos 2 caracteres
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" name="saldo" class="form-control" #telefono="ngModel"
                          [(ngModel)]="cliente.telefono"
                          [ngClass]="{'is-invalid' : telefono.errors && telefono.touched}" required>
                        <div [hidden]="!telefono.errors?.required" class="invalid-feedback">
                          Saldo Requerido
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="actions" class="py-4 mb-4 bg-light">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Registrar Cliente
          </button>
        </section>

      </form>

    </div>
  </div>
</div>
